<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>Maven Tech</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} 
    </main>

    <footer>
        <p>Copyright &copy; 2024 Maven Tech</p>
    </footer>
</body>
</html>
