<!-- home.handlebars -->

{{!-- Include the main layout file --}}
{{#> main}}

  {{!-- Content specific to the home page --}}
  <section class="hero">
    <h1>Welcome to Maven Tech Blog</h1>
    <p>Explore our latest posts:</p>
    <ul>
      {{#each posts}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </section>

{{/main}}
